* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

button {
  position: absolute;
  top: 50%;
  left: 47%;
  padding: 10px 20px;
  border: none;
  font-size: 14px;
  border-radius: 3px;
  box-shadow: 0px 0px 50px 20px rgba(255, 255, 255, 0.2);
  background-color: #fff;
  color: #000;
  cursor: pointer;
  transition: 0.3s;
}
